@media (min-width: 768px) and (max-width: 991.8px) {
  /* ab */
  .name {
    display: none;
  }
  #about .container div {
    padding-right: 10px;
  }
  .stick {
    top: 0;
  }
  .col-md-6-fix {
    flex: 0 0 auto;
    width: 50% !important;
  }
  .col-md-12-fix {
    flex: 0 0 auto;
    width: 100% !important;
  }
  .flexce {
    flex-direction: column;
  }
  /* ce */
  #certificate .incontainer {
    padding: 0;
  }
  ul {
    padding-left: 0 !important;
  }
  /* pro */
  #project .containerin {
    gap: 10px;
  }
  #project .container {
    padding: 0;
    margin: auto;
  }
  .bor {
    height: 77%;
  }
  #project td {
    padding: 0;
  }
  #footer i {
    font-size: 150%;
  }
}
